<appSettings>
  <!-- Name shown on the header -->
  <add key="HelpName" value="pureHelp" />

  <!-- Image shown on the header, use ~ for web application root -->
  <add key="HelpIcon" value="~/images/icons/folderlogo75.png" />

  <!-- web root location of help documents, use ~ for web application root -->
  <add key="HelpFolder" value="~/Docs" />

  <!-- Name of the default pages with no extension (system checks for .md, .htm, .html extensions -->
  <add key="DefaultPageName" value="default" />

  <!-- Set NoCache to true to reload the help Content every time - useful while writing content -->
  <add key="NoCache" value="false" />
  
</appSettings>