:root
{
    --mainColour: 230, 215, 205;  /* #e6d7cd  */
    --accentColour: 139, 69, 19;  /* #8b4513  */


         --mainColour: 159, 219, 189;
        --accentColour: 40, 119, 79;

/*             
        --mainColour:  215, 205, 230;
        --accentColour:  69, 19, 139;
*/
    --main-bg-colour: rgba(var(--mainColour), 0.45);
    --darker-bg-colour: rgba(var(--mainColour), 0.85);
    --highlight-colour: rgba(var(--accentColour), 0.5);

    --translucent-white: rgba(255,255,255,0.4); /* background of input fields boxes*/
    --shadow-colour: rgba(0,0,0,0.2);
}


body {
  margin: 0em;
  width: auto;
  height:100%;
  font-size:16pt;
  padding: 0.5em 0.5em;
  background-color: #fff;
  outline: none !important;
}

html,
body,
input,
textarea,
select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
}

container {
  display: grid;
  /* grid-template-columns: minmax(18em, 0.25fr) 1fr; */
  /* grid-template-columns: 0.3fr, 1fr; */
  grid-template-columns: 30% 70%;
  grid-template-columns: 1fr 3fr;
  
  grid-template-rows: 7em calc(100vh - 8.5em);
  grid-gap: 0.3em;
}

:focus {outline:none;}

header,
footer {
  grid-column: 1 / span 2;
}

.threeCol
{
    display:grid;
    grid-template-columns: auto auto auto;
}

header,
main,
aside,
footer {
  background: #fff;
  display: flex;
  align-items: initial;
  justify-content: initial;
  padding: 1em;
}

aside,
main
{
background: var(--main-bg-colour);
overflow: auto;
}

header{
  background: var(--darker-bg-colour);
}


header #title
{
    display: block;
    align-items: initial;
    text-align: left;
    font-size: 2em;
}

header #title img{
  vertical-align: middle; 
  margin-right:1em;
}

main img{
    max-width: 100%;
}


a.TreeSelected
{
    background-color: var(--highlight-colour);
    color: #fff;
}


a{
  color: #111;
}

.Hidden {
    display: none;
}

#MenuButton {
    display: block;
    float: left;
    height: 40px;
    width: 50px;
    background: url('../images/icons/hamburger.png') center center no-repeat;
    margin: 15px 10px 10px 10px;
    display: none;
}



@media only screen and (max-width: 1000px) {
	    /* Hide elements */
    header .HeaderTitle
    {display: none}

}

@media only screen and (max-width: 800px) {
	    /* Hide elements */
    header .HeaderTitle
    {display: none}

   
    aside {
        font-size: 1.2em;
    }

}
@media only screen and (max-width: 600px) {

    /* Hide elements */
    header .HeaderTitle
    {display: none}

    #MenuButton
    {
        display: block;
    }

    container {
        display: grid;
        grid-template-columns: 0 auto;
        grid-template-rows: 7em calc(100vh - 8.5em);
        grid-gap: 0.3em;
    }

    aside
    {
        background: none;
        overflow-x: hidden;
        font-size: 1.4em;
    }

}